body { 
    overflow-y: scroll; 
}


[class=" wh_search_input navbar-form wh_main_page_search search "]{
    box-sizing: border-box;
    background:#eee;
    
}



#ui-id-1 {
    z-index:999;
}

/* ADD LINE NUMBERING TO CODEBLOCKS WITH OUTPUTCLASS show-line-numbers' */
.show-line-numbers {
  position: relative;
  counter-reset: line-numbers;
  padding-left: 30px;
}

.show-line-numbers .num:before { 
  content: counter(line-numbers);
  counter-increment: line-numbers;
  position: absolute;
  left: 0;
  width: 15px;
  text-align: right;
  color: #888;
}




/* the following styles will be applied to desktop computers ONLY */

@media screen and (min-width: 900px) {

/* base font should be size 14px */
    html {
        font-size: 14px;
    }

/* the site navigation font size should be 1 relative to the root font size */
.wh_header li a {
    font-size: 1rem;
}

#wh_top_menu_and_indexterms_link *{
    font-size:1.2rem;
}

[class=" wh_publication_title "]{
    font-size:1.5rem;
}


/* the contain should be flush, aligned-left against the viewport with a 150px margin */
.container-fluid {
    box-sizing: border-box;
    margin-inline:auto;
}

/* set a max-width readability constraint on the topic content of 750px */
.wh_topic_content .body{
    max-width: 800px;
    padding-left: 80px;
}

/* 
.theme-switch-container{
    display:inline-block;
    vertical-align:middle;
    box-sizing: border-box;
}
  */

.material-icons{
    position:relative;
    top:4px; /*adjust as needed*/
}

/* Set the font-size of the topic content to be 1.2 relative to the root font size */
.wh_topic_content .body {
    font-size: 1.2rem;
}

/* add preferences to the body styling */
.wh_topic_content .body {
    color: #545454;
    line-height: 1.6;
}

/* select topic titles on index page and add color preferences */
.wh_tile_title span.topicref a{
    color: #545454;
}

[class~="topic/title"]{
    color: #545454;
}

[class="oxy-icon oxy-icon-print"]{
    color:#545454;
}

/* select topic level 1 elements add bottom margin for ease of navigation */
[class="- topic/title title topictitle1"]{
    margin-bottom: 3rem;
}

/* select topic level 2 elements add bottom margin for ease of navigation */
[class="- topic/title title topictitle2"]{
    margin-bottom: 3rem;
}

/* select topic level 3 headers and semi-bold styling to them for ease of navigation */
[class="- topic/title title topictitle3"]{
    font-weight: 600;
}

/* select unordered lists add top margin for ease of navigation */
[class="- topic/ul ul"]{
    margin-top: 1.8rem;
}

/* select topic paragraph elements add 2.2em space between them for readability */
[class="- topic/p p"] {
     margin-bottom: 2.2em;
}

/* the footer font size should be 1 relative to the root font size */
.wh_footer {
  font-size: 1rem;
  line-height: 1.7em;
}

/* select topic image elements add outline around them for visibility */
[class="- topic/image image"], [class="- topic/image image zoom"] {
    outline: 1.5px solid #545454;
}

/*  SEARCH RESULTS PAGE STYLES */
/* set a max-width readability constraint on the search results container of 970px */
/*  
.wh_search_results {
    max-width: 970px;
    margin-inline: auto;
}
*/

[class=" wh_search_input navbar-form wh_main_page_search search "]{
    background:#eee;
    
}


#searchForm {
    width: 250px;
}

#searchFrom > div {
    width:90%;
}

#ui-id-1 {
    z-index:999;
}



.searchresult .title * {
    background-color: #777;
}

.searchresult a.foundResult  {
    font-weight: 600;
}

.searchresult .shortdesclink {
    max-width: 750px;
    margin-right: auto;
}

.searchresult .shortdesclink {
    color: #545454;
    font-size: 1.1rem;
}

/* CODE BLOCKS TOOLTIP POPUP */
/* select the codeblock tooltip and display as if justified right against the codeblock */
[class="copyTooltip wh-tooltip-container"]:before{

}
[class="copyTooltip wh-tooltip-container"]{
    margin-top:-4px;
    left:740px;
}

[class~="copyTooltip"]:before{
    
    padding-left:5px;
}


[class~="copyTooltip"]:before{
    content:"Copy";
    line-height:33px; /* Adjust this according to your needs */
    padding-top: 2px; /* Adjust this according to your needs */
}






}